<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Dashboard</title>
    </head>
    <body>
        
      <h2><span id="timeGreet"></span> <%= user %></h2>
        <button onclick="goto('/users/logout')">Logout</button> 
    <script>
        function goto(url="#") {
            location.href = url;
        }
        class Greet {
            constructor() {

            }
            mesg() {
                return this.getTime();
            }
            getTime() {
                const time = new Date();
                const hours = time.getHours();
                let greetings = ["Good Morning ","Good Afternoon","Good Evening","Good Night"];
            let hoursKey = hours >= 4 && hours <= 11 ? greetings[0]: hours >= 12 && hours <= 16 ? greetings[1]: hours >= 17 && hours <= 20 ? greetings[2]: greetings[3];
                return hoursKey;
            }
        }
        function greet() {
        var msg = new Greet();
        let element = document.getElementById("timeGreet");
        element.innerHTML = msg.mesg();
        }
    greet();
        
    </script>
    </body>
</html>
