<!DOCTYPE html>
<html>
    <head>
	    <link rel="website icon" href="https://i.postimg.cc/XYSJmSBn/channels4-profile.jpg" type="jpg" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Dashboard</title>
    </head>
    <body>
        
      <h2><span id="timeGreet"></span>
   <% if (user.name) { %>
	<%= user.name %>
   <% } else { %>
       Sankar
  <% } %>
</h2>
        <button onclick="goto('/users/logout')">Logout</button> 
    <script type="text/javascript" src="/js/greet.js"></script>
    <script type="text.javascript" src="/js/redirect.js"></script>
    </body>
</html>
