<!DOCTYPE html>
<html>
    <head>
        <link rel="website icon" href="https://i.postimg.cc/XYSJmSBn/channels4-profile.jpg" type="jpg" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="/css/home.css" type="text/css" />
        <title>UserLoginSystem | Sankar</title>
    </head>
    <body>
        <div class="title-bar">
        <nav class="dashboard-nav">
       <i class="fas fa-regular fa-bars slide-bar-button"></i>
               <div class="items">
            <div class="item profile-tab">
                    <img class="profile-img" src="https://i.postimg.cc/XYSJmSBn/channels4-profile.jpg" alt="profile pic" />
                <p class="name">Sankar</p>
            </div>
            <a class="item" href="#">HOME</a>
            <a class="item" href="#">item</a>
            <a class="item" href="#">item</a>
            <a class="item" href="#">item</a>
            <a class="item" href="#">item</a>
        </div>
      <p class="title">Home</p>
      </nav>
      <div class="auth-container">
      <div class="users-auth">
        <button class="bt1" onclick="goto('/users/register')">Register</button>
        <button class="bt2" onclick="goto('/users/login')">Login</button>
        </div>
        </div>
        </div>

    <script src="/js/redirect.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
