<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/animation.css" />
    <link rel="website icon" href="https://i.postimg.cc/XYSJmSBn/channels4-profile.jpg" type="jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/animation.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/form.css" />
            <script src="/js/class/popup.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <!-- space for animation -->
    <div class="blooming">
        <div class="c1 circle"></div>
        <div class="c2 circle"></div>
        <div class="c3 circle"></div>
        <div class="c4 circle"></div>
    </div>
    <!-- space for animation -->

    <div id="form" action="/users/register" method="POST" accept-charset="utf-8">
        <h1>Register</h1>
        <div class="container">
            <div class="inputBox">
                <input onkeyup="checkit(this)" type="text" name="username" id="username" required />
                <i onmouseover="focusElement(this)" name="name" id="name" class="i">username</i>
            </div>
            <div class="container">
                <div class="inputBox">
                    <input onkeyup="checkit(this)" type="text" name="email" id="email" required />
                    <i onmouseover="focusElement(this)" name="email" id="user" class="i">email</i>
                </div>
            <div class="inputBox">
                <input onkeyup="checkit(this)" type="password" name="password" id="password" required />
                <i onmouseover="focusElement(this)" name="password" id="pass" class="i">password</i>
                <i id="fas" class="fas fa-regular fa-eye" onclick="check(this, 'one')"></i>
            </div>
            <div class="inputBox">
                <input onkeyup="checkit(this)" type="password" name="password2" id="password2" required />
                <i onmouseover="focusElement(this)" name="password2" id="pass2" class="i">confirm</i>
                <i id="fas" class="fas fa-regular fa-eye" onclick="check(this, 'two')"></i>
            </div>
        </div>
        <div>
            <button id="submit-button">Register</button>
        </div>
        <div>
            <a id="rule" href="/users/login">Already have an account? <br>Login here</a>
        </div>
        </div>
        <script src="/js/password.js" type="text/javascript" charset="utf-8"></script>
            <script src="/js/eruda.js"></script>
    <script>
        eruda.init();
    </script>
    <script src="/js/register.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/focus.js"></script>
    </body>
</html>