
.blooming {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    aspect-ratio: 1 / 1;
    z-index: -1;
    border-radius: 0 0 0 0;
    overflow: ;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    border: ;
    transform: translate(-50%,-50%);
}

.circle {
 position: absolute;
 width: 0%;
 border-radius: 50%;
 aspect-ratio: 1 / 1;
 transform: translate(50%,-50%);
 animation: animate 6s linear infinite;
 background: rgba(18, 182, 252,.1);
 filter: hue-rotate(0deg);
}
.blooming .circle {
 transform: translate(0%,0%);
}
@keyframes animate {
    0% {
        width: 0%;
        opacity: 1;
    } 100% {
        width: 200%;
        opacity: 0;
    }
}
.c1 {
    animation-delay: 0s;
}
.c2 {
    animation-delay: 1.5s;
}
.c3 {
    animation-delay: 3s;
}
.c4 {
    animation-delay: 4.5s;
}
