.blooming {
    position: fixed;
    right: 0;
    top: 0px;
    width: 75%;
    aspect-ratio: 1 / 1;
    z-index: ;
    border-radius: 0 0 0 0;
    overflow: hidden;
    display: flex;
    justify-content: right;
    max-height: 100vh;
}
.blooming2 {
    position: fixed;
    top: 0;
    top: 0px;
    width: 75%;
    aspect-ratio: 1 / 1;
    z-index: ;
    border-radius: 0 0 0 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    max-height: 100vh;
}
.circle {
 position: absolute;
 width: 0%;
 border-radius: 50%;
 aspect-ratio: 1 / 1;
 transform: translate(50%,-50%);
 animation: animate 6s linear infinite;
 background: rgba(18, 182, 252,.1);
 filter: hue-rotate(0deg);
}
.blooming2 .circle {
 transform: translate(-50%,-50%);
}
@keyframes animate {
    0% {
        width: 0%;
        opacity: 1;
    } 100% {
        width: 200%;
        opacity: 0;
    }
}
.c1 {
    animation-delay: 0s;
}
.c2 {
    animation-delay: 1.5s;
}
.c3 {
    animation-delay: 3s;
}
.c4 {
    animation-delay: 4.5s;
}
