* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    font-family: Sans-Serif;
}
::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background: transparent;
    width: 0px;
}
.users-auth {
    padding: 2px;
    width: clamp(70px,75%,170px);
    display: grid;
    margin-right: 2px;
    grid-template-columns: repeat(2,1fr);
}
.bt1,.bt2 {
    padding: 7px;
    border: none;

}
.users-auth > .bt1 {
    background: #0add0a;
    color: #fff;
    border-radius: 8px 0 0 8px;
    position: relative;
    transition: .2s;
}
.nav-icon {
    float: right;
    background: #fff1;
    padding: 10px;
    border-radius: 50%;
}
.users-auth > .bt1:hover {
    outline: 5px solid rgba(0,255,0,.3);
}
.users-auth > .bt1:active {
    outline: 3px solid rgba(255,255,255,.3);
}
.users-auth > .bt2 {
    border-radius: 0 8px 8px 0;
    background: rgba(255,255,255,.2);
    color: #fff;
    transition: .2s;
}
.users-auth > .bt2:hover {
    position: relative;
    outline: 4px solid rgba(255,255,255,.4);
}
.users-auth > .bt2:active {
    position: relative;
    outline: 3px solid rgba(25,255,255,.4);
}
.title-bar {
    display: grid;
    width: 100vw;
    padding: none;
    grid-template-columns: repeat(2,1fr);
    background: linear-gradient(to left, #3498db, #6bb9f0);
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0px;
}
.auth-container {
    justify-content: end;
    display: flex;
}
.title {
    padding-top:6px;
    padding-left: 10px;
}
.dashboard-nav {
    display: flex;
    padding: 0px;
}
.fa-bars {
    padding: 6px 7px;
}
.slide-bar-button {
    border-radius: 6px;
    position: relative;
    font-size: 20px;
    transition: .3s;
    margin-left: 2px;
}
.slide-bar-button:hover {
    background: rgba(255,255,255,.3);
    text-shadow: 0px 2px 5px rgba(0,2,9,.3);
}
.slide-bar-button:active {
    color: black;
    opacity: .2;
    text-shadow: 0px 2px 5px rgba(0,255,255,.8);
}
.hide {
 background: none;
 text-shadow: none;
 box-shadow: none;
 outline: none;
 border-color: transparent;
 display: hidden;
}
.hide:hover {
 background: none;
 text-shadow: none;
 box-shadow: none;
 outline: none;
 border-color: transparent;
 display: hidden;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: auto;
    width: clamp(70px,60%,200px);
    padding: 5px;
    padding-right: 0px;
    background: linear-gradient(to left, #3498db, #6bb9f0);
    height: 100vh;
    overflow-y: scroll;
}
.items > .user-info {
    background: transparent;
}
.user-info {
    margin: 1px 0px;
    cursor: pointer;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
}
.items:hover .user-info {
    background: rgba(37, 63, 167, 0.334);
}
.item {
    display: flex;
    justify-content: space-between;
    margin: 1px 0px;
    cursor: pointer;
    padding: 5px;
    padding-right: 0px;
    border-radius: 5px;
    overflow: hidden;
}
.list {
    padding: 8px;
    display: inline;
}
.items .item:nth-child(1) {
    background: transparent;
}
.body {
    display: flex;
    flex-direction: row;
}
.nav-space {
    width: 209px;
    margin-top: 2px;
    background: transparent;
    height: calc(100vh - 59px);
}
.main-content {
    width: calc(100vw - 209px);
}
@media ( max-width: 500px ) {
    .items {
        position: fixed;
        top: 0;
        left: -234px;
        transition: 0.3s;
    }
 .nav-space {
     display: none;
 }
 .main-content {
     width: 100vw;
 }
    .slide-bar-button:hover ~ .items {
        left: 0px;
    }
    
    .items:hover {
        left: 0;

    }
}
:root {
    --navW: clamp(200px,40vw,300px);
}
@media ( min-width: 500px ) {
    .items { 
        position: fixed;
        top: 0;
        left: calc((var(--navW) - (var(--navW) * 0.1)) * -1);
        width: var(--navW);
        transition: 0.3s;
    }
 .nav-space {
     display: none;
 }
 .main-content {
     width: 100vw;
 }
    .slide-bar-button:hover ~ .items {
        left: 0px;
    }
    
    .items:hover {
        left: 0;

    }
}
.items  a {
    text-decoration: none;
    color: white;
}
.profile-img {
    aspect-ratio: 1 / 1;
    width: 50px;
    margin-left: 50%;
    padding: 4px;
 background: linear-gradient(45deg, #ffd86e, #fdb95e, #fd9754, #f57c5f);
    border-radius: 50%;
    transform: translate(-50%);
    margin-bottom: 8px;
}
.profile-tab {
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
}
.name {
    text-align: center;
}
